.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cardGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card {
  display: flex;
  background-color: transparent;
  max-width: 900px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    gap: 25px;
  }
  .cardGrid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
